/*cutsom styling*/
html,body{
    height: 100%;
    background: rgb(250,198,149); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(250,198,149,1) 0%, rgba(239,141,49,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(239,141,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(250,198,149,1) 0%,rgba(239,141,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */
}

h1, .nav-pills>li>a {
  /* color: pink; */
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1000px) {
  h1, .nav-pills>li>a {
    /* color: #264653; */
    font-size: 20px;
  }
}
@media (min-width: 50px) and (max-width: 1000px) {
  h1, .nav-pills>li>a {
    /* color: #264653; */
    font-size: 20px;
  }
}


h3 {
  color:#2A9D8F;
  text-transform: uppercase;
}
.nav-pills>li{
  background:pink;

}
.nav-pills>li.active>a{
  background: #F4A261;
}
.nav-pills>li>a{
  color: #264653;
}
/*COLUMNS WITH THE EQUAL HEIGHT*/
.container-flex, .container-order,.flex-center-center{
  display:flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  justify-content: space-around;
  padding: 2rem;
}



.box {
  width:100%;
  background:#E76F51;
  padding: 1rem;
  border: 1rem solid #E9C46A;
}


/*Horizontal and vertical alignment*/
.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.flex-center-center > div{
  width: 60%;
  font-weight: bold;
  font-size: 5rem;
text-transform: uppercase;
  color: blue;
}

/*responsive grig*/
.responsive > .box {
  font-weight: bold;
  font-size: 30px;
  /* text-transform: uppercase; */
  color: white;
border: 1rem solid #E9C46A;
font-family: 'Pacifico', cursive;
}
.col-1{
	flex: 1;
}

.col-2{
	flex: 2;
}

@media (max-width: 800px){
	.responsive{
		flex-direction: column;
    align-items:center;
	}
  .col-1, .col-2 {
    width: 100%;
  }
}

/*sticky footer*/
.sticky-container{
  display:flex;
  flex-direction:column;
  height: 90vh;
  width: 100%;
  background: #F4A261;
}
.sticky-content{
  flex: 1 0 auto;
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  /* color: #264653; */
}
.sticky-footer{
  flex: 0 0 auto;
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
  color: #264653;
background:  #2A9D8F;
}
.label-text{
  font-family: 'Skranji', cursive;

}

#prep-video-eating {
  background-image: url('/images/fruit.jpeg');
}

#prep-video-two-eating {
  background-image: url('/images/fruit.jpeg');
  background-image: no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;
}

#pinterest-section {
  background-image: url('/images/veggies.jpeg');
  height: auto;
}

#fitness-section {
  /* background-image: url('/images/Beachbody-Flyer.png'); */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30%;

}

.bigImage{
height: 50%;
width: 75%;
}

/* @media only screen and (max-width: 450px) {
  #fitness-section {
    /* background-image: url('/images/Beachbody-Flyer.png'); */
    /* background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 40%;
  }
}  */


#meal-plan-example {
  background-image: url('/images/running.jpeg');
  background-image: no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:auto;
  /* margin-bottom: 5%; */
}

#meal-plan-pic {
  width:100%;
}

/* animated text */
.animated-text {
  /* position: absolute; */
  text-align: center;
  /* transform: translate(-50%, -50%); */
}
.animated-text ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }
 .animated-text ul li {
    display: inline-block;
    font-size: 45px;
    /* text-transform: uppercase; */
    /* margin-left: 15px; */
   color: #22A7F0;
    opacity: 1;
    transition: all 2.5s ease 0s;
  }
.animated-text ul li:first-child {
    /* margin-left: 0px; */
  }

.animated-text.hidden-text ul li {
  opacity: 0;
}
 .animated-text.hidden-text ul li:nth-child(1) {
    transform: translate(-200px, -180px);
  }
.animated-text.hidden-text ul li:nth-child(2) {
    transform: translate(100px, 180px);
  }
  .animated-text.hidden-text ul li:nth-child(3) {
    transform: translate(250px, 50px)
  }
  .animated-text.hidden-text ul li:nth-child(4) {
    transform: translate(-80px, -100px)
  }
  .animated-text.hidden-text ul li:nth-child(5) {
    transform: translate(200px, -180px)
  }
  .animated-text.hidden-text ul li:nth-child(6) {
    transform: translate(10px, -80px)
  }
  .animated-text.hidden-text ul li:nth-child(7) {
    transform: translate(-250px, 70px)
  }
  .animated-text.hidden-text ul li:nth-child(8) {
    transform: translate(-240px, 140px)
  }
  .animated-text.hidden-text ul li:nth-child(9) {
    transform: translate(290px, -100px)
  }
 .animated-text.hidden-text ul li:nth-child(10) {
    transform: translate(60px, -170px)
  }
  .animated-text.hidden-text ul li:nth-child(11) {
    transform: translate(190px, -20px)
  }
  .animated-text.hidden-text ul li:nth-child(12) {
    transform: translate(-200px, -180px)
  }

.solid-background {
background: rgb(250,198,149); /* Old browsers */
background: -moz-linear-gradient(top, rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */
  border: 1px solid #E9C46A;
}

.names {

}

.names:hover {
  color: #22A7F0;
}
